.section__projects {
  margin-top: 7.5rem;
  min-height: 25rem;
}

.slider_web {
  position: relative;
  height: 13.125rem;
  width: 37.5rem;
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.slider_mobile {
  position: relative;
  height: 25.625rem;
  width: 21.875rem;
  display: "flex";
  justify-content: center;
  align-items: center;
  margin-bottom: 0.625rem;
}

.image {
  border-radius: 0.625rem;
  margin-left: 3.125rem;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 0px;
  font-size: 3rem;
  color: black;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 0px;
  font-size: 3rem;
  color: black;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.contenedor-proyectos {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor-individual {
  display: inline-block;
  margin-right: 3.125rem;
  margin-left: 5rem;
}

.subtitle__project {
  display: block;
  font-size: 1.25rem;
  text-align: center;
  margin-top: 2.50rem;
}

.screenshot-image {
  height: 25rem;
  width: auto;
  margin-left: 3.125rem;
}

/*________________
| MEDIA QUERIES */

@media screen and (max-width: 700px) {
  /* WEB */
  .section__projects {
    margin-top: 5rem;
    min-height: 31.25rem;
  }

  .contenedor-proyectos {
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin-left: 1.875rem;
  }

  .slider_web {
    width: 25rem;
  }

  .slider_mobile {
    position: relative;
    height: 25.625rem;
    width: 21.875rem;
    display: "flex";
    justify-content: center;
    align-items: center;
    margin-left: 1.25rem;
  }

  .image {
    width: 20rem;
    height: 10rem;
    margin-top: 3.125rem;
  }

  .left-arrow {
    font-size: 1.875rem;
  }
  .right-arrow {
    font-size: 1.875rem;
  }

  .contenedor-individual {
    display: inline;
  }

  .contenedor-cadauno {
    height: 13.75rem;
  }

  .subtitle__project {
    display: block;
    font-size: var(--small-font-size);
    text-align: center;
    margin-top: 1.875rem;
  }
}
