.technologies {
  margin-top: 9.3rem;
  margin-bottom: 9.3rem;
  display: block;
  align-items: center;
  justify-content: center;
}

.technologies__group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-left: 1rem;
  flex: 1;
  border-left: 2px solid #ccc;
}

.technologies__logo {
  @apply relative my-[10px] flex h-[6.25rem] w-[6.25rem] items-center justify-center rounded-[15px] bg-white font-light tracking-[2px] transition-shadow duration-1000 hover:shadow-[0_5px_35px_0_rgba(0,0,0,0.1)];
  font-family: "Montserrat", sans-serif;
}

.technologies__logo:hover::before,
.technologies__logo:hover::after {
  content: "";
  position: absolute;
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 15px;
  z-index: -1;
  display: block;
}

.technologies__logo:hover::before {
  background-color: rgba(74, 253, 253, 0.899);
  animation: clockwise 1s infinite;
}

.technologies__logo:hover::after {
  background: black;
  animation: counterclockwise 2s infinite;
}

@keyframes clockwise {
  0% {
    top: -5px;
    left: 0;
  }

  12% {
    top: -2px;
    left: 2px;
  }

  25% {
    top: 0;
    left: 5px;
  }

  37% {
    top: 2px;
    left: 2px;
  }

  50% {
    top: 5px;
    left: 0;
  }

  62% {
    top: 2px;
    left: -2px;
  }

  75% {
    top: 0;
    left: -5px;
  }

  87% {
    top: -2px;
    left: -2px;
  }

  100% {
    top: -5px;
    left: 0;
  }
}

@keyframes counterclockwise {
  0% {
    top: -5px;
    right: 0;
  }

  12% {
    top: -2px;
    right: 2px;
  }

  25% {
    top: 0;
    right: 5px;
  }

  37% {
    top: 2px;
    right: 2px;
  }

  50% {
    top: 5px;
    right: 0;
  }

  62% {
    top: 2px;
    right: -2px;
  }

  75% {
    top: 0;
    right: -5px;
  }

  87% {
    top: -2px;
    right: -2px;
  }

  100% {
    top: -5px;
    right: 0;
  }
}

/* Responsive styles */
@media screen and (max-width: 600px) {
  .technologies__group {
    min-width: 100%;
    margin: 0;
    padding: 0.625rem 0;
    border-bottom: 1px solid #ddd;
  }

  .technologies__group:last-child {
    border-bottom: none;
  }

  .technologies__logo {
    margin-bottom: 0.3125rem;
  }
}
